#navWrapper
    height 39px

.chart-template-list 
    border-color #eee
    border-left none

.combo>div.wrap>input 
    cursor pointer

.combo>div.wrap>inputfocus 
    cursor inherit

.content .column[style="width 33%"]:first-of-type
    width 15%

.content-section 
    top 70px


.dirty-workitem-row
    font-style italic
    font-weight 700

.dirty-workitem-row * 
    color hsl(180, 100%, 33%)
    text-decoration underline


.grid-cell 
    vertical-align top


.grid-row 
    border none


.grid-row-selected, .grid-row-selected-blur, .grid-row-current 
    box-shadow:
            0 0 0 1px hsla(200,100%,50%,.1) inset,
            0 0 0 20px hsla(200,100%,50%,.1) inset


.hub-title 
    display none

.hub-view.explorer .right-hub-content 
    top 0

.hubs .selected a 
    border none

.hubs-section 
    left 0
    margin auto
    right 0
    top 39px
    width 200px

.marked_tag 
    background hsla(0,0%,100%,.7)
    border 1px solid hsla(0,0%,50%,.2)
    border-radius 3px
    color hsla(0,0%,40%,.8)
    display inline-block
    font-size 11px
    font-weight 400
    max-width 75px
    opacity .9
    overflow hidden
    padding 0 2px 1px
    text-overflow ellipsis
    vertical-align top
    white-space nowrap

.marked_tag + .marked_tag 
    margin-left -2px

.priority_1 
    color #c00
    opacity 1

.priority_2
    opacity 1

.priority_5
    opacity .2


.project_Cons-KSU 
    background repeating-linear-gradient(-66deg, hsl(200,50%,96%), hsl(200,50%,96%) 5px, hsl(200,50%,92%) 5px, hsl(200,50%,92%) 10px )
    border none


.project_Corp-SecurityCenter 
    background hsla(40, 100%,50%,.1)


.project_DocLoc-OnlineHelp 
    background hsla(260, 100%,50%,0.1)


.project_FastTrack 
    background hsla(60, 100%,50%,.1)


.project_KAVKIS 
    background hsla(00, 75%,50%,.04)
    font-size 12px


.project_KSS2 
    background hsla(120, 100%,50%,.07)


.project_Org_DUO 
    background repeating-linear-gradient(-35deg, hsl(120,50%,96%),
    hsl(120,50%,96%) 10px,
    hsl(120,50%,92%) 10px,
    hsl(120,50%,92%) 20px)


.project_UCPWebPortal 
    background hsla(200, 100%,50%,.07)
    opacity 1


.tag_prod .marked_tag 


.tag_prod1 
    color #bf0000


.tag_safekids1 
    color #00a000


.tag_sc_mmc1 
    color #b09040


.ui-dialog 
    border none
    box-shadow 0 0 50px -10px hsla(0,0%,0%,0.5)


.ui-dialog .ui-dialog-titlebar, .ui-dialog-buttonpane 
    background-color #fafafa
    border-color #eee


.ui-widget-overlay 
    background #000
    opacity 0.2


.work-items-view 
    background #f8f8f8


.work-items-view .tfs-tags 
    display none


