.fresh-tfs-tag
    display inline-block
    max-width 8em

    padding 0 2px 1px

    background white
    border thin solid hsla( black, .16 )
    border-radius 3px
    color hsla( black, .66 )

    font-size .95em
    text-indent 0
    text-overflow ellipsis
    vertical-align top
    white-space nowrap

    overflow hidden

    & + &
        margin-left -2px