.marked_tag
    background hsla(white, .7)
    border 1px solid hsla(gray, .2)
    border-radius 3px
    color hsla(0, 0%, 40%, .8)
    display inline-block
    font-size 11px
    font-weight 400
    max-width 75px
    opacity .9
    overflow hidden
    padding 0 2px 1px
    text-overflow ellipsis
    vertical-align top
    white-space nowrap

    + .marked_tag
        margin-left -2px
