html
    background #fff
    font-family Segoe UI, Arial, Helvetica, sans-serif
    box-sizing border-box
    white-space nowrap
    //font-size 14px
    cursor default
    -webkit-user-select none
    -webkit-user-drag none

body
    margin 0

*
    margin 0
    padding 0

    &
    &:before
    &:after
        box-sizing inherit

:disabled
    opacity .66
    pointer-events none

:focus
    outline none

a
button
    cursor pointer

    &:focus
        outline none


input::-webkit-input-placeholder
    color #ccc