.input
    position relative

    display inline-block

    padding 8px

    font-size .9em
    border none
    border-radius 3px

    box-shadow 0 .8px hsla(0, 0%, 0%, .15) inset

    &_tag
        padding 4px