.tooltip
    display inline-block
    position relative

    &__button
        display inline-block
        width 15px
        height @width

        padding 0
        margin 4px

        background #fff
        border none
        border-radius 2px
        box-shadow 0 0 0 .7px hsla( black, .1 ) inset

        &:hover
            -webkit-filter: brightness(.95)

    &__body
        display flex
        flex-wrap wrap
        position absolute
        z-index 1
        left -16px
        bottom 100%
        width 133px
        margin-bottom 5px

        padding 4px 8px

        background #fff
        border 1px solid #ccc
